body{
    touch-action: none;
}
.shopMenuContainer, .shopMenuContent{
    display: none;
}
main{
    border: 5px solid black;
    height: 38em;
    width: 95%;
    border-radius: 3px;
    background-color: #FFFFFF;
    background-size: 100% 100%;
    background-image: linear-gradient(to left,#FF0000 11.1%, #FF6000 22.2%, #EEE000 33.3%, #00FF00 44.4%, #007700 55.5%, #00FFF0 66.6%, #003e9b 77.7%, #6150fa 88.8%, #FF00FF 100%);
    margin: 0px;
}
#container{
    height: 99%;
    width: 100%;
    margin: 0px;
    margin-right: 1px;
    background-size:100% 100%;
    background-image: url(docs/assets/windows\ xp\ wallpaper.jpg);
    overflow: auto;
    cursor: url(docs/assets/tschika-cola.png), crosshair;
}
.tschika{
    transition: transform 0.6s;
    height: 7em;
    padding: 10px;
    border-radius: 50px;
    border: 1px double yellow;
    position: block;
    touch-action: none;
}
#stats{
    margin: 0px;
    width: 20%;
    font-size: 1em;
    height: 10%;
    text-align: center;
}
p{
    font-size: 2em;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: black;
    background-size: 100% 100%;
    background-image: linear-gradient(235deg,#FF0000 11.1%, #FF6000 22.2%, #EEE000 33.3%, #00FF00 44.4%, #007700 55.5%, #00FFF0 66.6%, #003e9b 77.7%, #6150fa 88.8%, #FF00FF 100%);
    -webkit-align-self: center;
    margin: 1% 1%;
    align-self: center;
    position:sticky;
    font-family: 'Times New Roman', Times, serif;
}
